:root {
  --font-fallback-sans: Helvetica, Arial, sans-serif;
  --tonka-family: var(--font-tonka), var(--font-fallback-sans);
  --gauch-family: var(--font-gauch), var(--font-fallback-sans);
}

body {
  font-family: var(--font-gauch), var(--font-fallback-sans);
}
