.page {
  height: 100%;
  width: 100%;
  padding: var(--padding-l);

  display: flex;
  flex-flow: column nowrap;
  gap: var(--padding);

  overflow: hidden;
}

@media screen and (width < 700px) {
  .page {
    padding: var(--padding-m);
  }
}

.background-filter {
  position: fixed;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(10px);
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;

  pointer-events: none;
  overflow: hidden;
  z-index: 0;

  animation: breatheBackground 5s ease-in-out infinite;
}

.svg-main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  z-index: 1;
}

.menu {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  align-items: center;
  flex-flow: column nowrap;
  gap: var(--padding-m);

  z-index: 1;
}

.list-header {
  font-family: var(--font-tonka);
  font-size: var(--font-size-body);
  font-variation-settings: var(--tonka-axes-ext);
  font-weight: 800;
}

.list {
  display: flex;
  align-items: center;
  flex-flow: column wrap;

  list-style: none;
}

.nav {
  width: 100%;

  z-index: 1;
}

.btn {
  width: 100%;
  padding: 0;
  margin-bottom: -1rem;

  display: flex;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.btn picture {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn__img {
  max-width: 900px;
  width: 100%;
  height: auto;
}

.btn:hover {
}

@keyframes breathe {
  from,
  to {
    filter: blur(0px);
    opacity: 1;
  }
  50% {
    filter: blur(5px);
    opacity: 0.7;
  }
}

@media screen and (width < 1000px) {
  @keyframes breathe {
    from,
    to {
      filter: blur(0px);
      opacity: 1;
    }
    50% {
      filter: blur(3px);
      opacity: 0.7;
    }
  }
}

.svg-header,
.svg-footer {
  width: 100%;
  max-width: 1800px;
}

.svg {
  animation: breathe 5s ease-in-out infinite;
}
.svg-footer .svg {
  animation-delay: 1s;
}

/* SEO CONTENT */

.main {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;

  color: white;
  overflow: hidden;
  z-index: -2;
  opacity: 0;
  pointer-events: none;
}

.header {
  padding: var(--padding-l);

  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: var(--padding);
}

.title-container {
  display: flex;
  gap: 3.25rem;
}

.hgroup {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.title,
.date {
  font-family: var(--font-tonka);
  font-weight: 800;
  font-size: var(--font-size-title);
  font-variation-settings: var(--tonka-axes-ext);
  text-align: center;
  white-space: nowrap;

  -webkit-text-stroke: black 1.25rem;
  stroke-linejoin: round;
  paint-order: stroke fill;
}

.subtitle {
  font-style: italic;
  -webkit-text-stroke: black 0.875rem;
  paint-order: stroke fill;
  stroke-linejoin: round;
}

.footer {
  padding: var(--padding-l);

  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.footer p {
  text-align: center;
  white-space: nowrap;

  -webkit-text-stroke: black 0.75rem;
  paint-order: stroke fill;
  stroke-linejoin: round;
}
