.background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;

  object-fit: cover;

  filter: blur(5px);
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}

.main {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;

  color: white;
  overflow: hidden;
}

.header {
  padding: var(--padding-l);

  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: var(--padding);
}

.title-container {
  display: flex;
  gap: 3.25rem;
}

.hgroup {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.title,
.date {
  font-family: var(--font-tonka);
  font-weight: 800;
  font-size: var(--font-size-title);
  font-variation-settings: var(--tonka-axes-ext);
  text-align: center;
  white-space: nowrap;

  -webkit-text-stroke: black 1.25rem;
  stroke-linejoin: round;
  paint-order: stroke fill;
}

.subtitle {
  font-style: italic;
  -webkit-text-stroke: black 0.875rem;
  paint-order: stroke fill;
  stroke-linejoin: round;
}

.footer {
  padding: var(--padding-l);

  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.footer p {
  text-align: center;
  white-space: nowrap;

  border-radius: 0.5rem;
  background-color: black;

  /* -webkit-text-stroke: black 0.75rem;
  paint-order: stroke fill;
  stroke-linejoin: round; */
}
