.page {
  height: 100%;
  width: 100%;
  padding: var(--padding-l);

  display: flex;
  flex-flow: column nowrap;
  /* gap: var(--padding); */

  overflow: hidden;
}

@media screen and (width < 1000px) {
  .page {
    padding: var(--padding-m);
  }
}

.background-filter {
  position: fixed;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(10px);
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;

  pointer-events: none;
  overflow: hidden;
  z-index: 0;

  animation: breatheBackground 5s ease-in-out infinite;
}

.svg-main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  z-index: 1;
}

.menu {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: var(--padding-s);

  z-index: 1;
}

.list-header {
  font-family: var(--font-tonka);
  font-size: var(--font-size-btn);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: var(--padding);

  list-style: none;
}

.nav {
  width: 100%;

  z-index: 1;
}

.btn {
  width: 100%;
  padding: 0;

  display: flex;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
}

@keyframes breathe {
  from,
  to {
    filter: blur(0px);
    opacity: 1;
  }
  50% {
    filter: blur(5px);
    opacity: 0.7;
  }
}

@media screen and (width < 1000px) {
  @keyframes breathe {
    from,
    to {
      filter: blur(0px);
      opacity: 1;
    }
    50% {
      filter: blur(3px);
      opacity: 0.7;
    }
  }
}

.footer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: var(--padding);
}

.links {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.button {
  font-size: var(--font-size-btn);
  white-space: nowrap;
}

.svg-header {
  display: flex;
  justify-content: center;
  width: 100%;

  transform-origin: top center;
}

.svg {
  width: 100%;
  max-width: 1080px;
}

.svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
}

.svg,
.svg-footer {
  animation: breathe 5s ease-in-out infinite;
}

.svg-container .svg:first-child {
  animation-delay: 1s;
}
.svg-footer {
  max-height: 5rem;
  width: 25vw;
  min-height: 2.5rem;

  animation-delay: 2s;
}

@media screen and (width < 1000px) {
  .links {
    position: relative;
  }

  .menu * {
    font-size: 1.25rem !important;
  }

  .menu .list {
    flex-direction: column;
    gap: var(--padding-s);
  }

  .svg-footer {
    width: 50vw;
  }
}
