.background-filter {
  position: fixed;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(10px);
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;

  /* object-fit: cover; */

  pointer-events: none;
  overflow: hidden;
  z-index: 0;

  animation: breatheBackground 5s ease-in-out infinite;
}

.svg-main {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: var(--padding-l);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  z-index: 1;
}

@media screen and (width < 700px) {
  .svg-main {
    padding: var(--padding-m);
  }
}

@keyframes breathe {
  from,
  to {
    filter: blur(0px);
  }
  50% {
    filter: blur(2px);
  }
}

.svg-header,
.svg-footer {
  width: 100%;
  max-width: 1800px;

  animation: breathe 5s ease-in-out infinite;
}

/* SEO CONTENT */

.main {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;

  color: white;
  overflow: hidden;
  z-index: -2;
  opacity: 0;
  pointer-events: none;
}

.header {
  padding: var(--padding-l);

  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: var(--padding);
}

.title-container {
  display: flex;
  gap: 3.25rem;
}

.hgroup {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.title,
.date {
  font-family: var(--font-tonka);
  font-weight: 800;
  font-size: var(--font-size-title);
  font-variation-settings: var(--tonka-axes-ext);
  text-align: center;
  white-space: nowrap;

  -webkit-text-stroke: black 1.25rem;
  stroke-linejoin: round;
  paint-order: stroke fill;
}

.subtitle {
  font-style: italic;
  -webkit-text-stroke: black 0.875rem;
  paint-order: stroke fill;
  stroke-linejoin: round;
}

.footer {
  padding: var(--padding-l);

  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.footer p {
  text-align: center;
  white-space: nowrap;

  -webkit-text-stroke: black 0.75rem;
  paint-order: stroke fill;
  stroke-linejoin: round;
}
