:root {
  --font-size-title: 3.25rem;
  --font-size-subtitle: 1.4rem;
  --font-size-body: 1.25rem;
  --font-size-btn: 1.6rem;
  --line-height-body: 1.2;
  --tonka-axes-ext: "wdth" 300;

  --padding-xs: calc(var(--padding) * 0.25);
  --padding-s: calc(var(--padding) * 0.5);
  --padding: 1rem;
  --padding-m: calc(var(--padding) * 2);
  --padding-l: calc(var(--padding) * 4);
  --padding-xl: calc(var(--padding) * 8);
}

@media screen and (width < 1600px) {
  :root {
    --font-size-btn: 1.4rem;
    --font-size-body: 1.1rem;
  }
}

@media screen and (width < 1200px) {
  :root {
    --font-size-btn: 1.2rem;
    --font-size-body: 0.9rem;
  }
}

@media screen and (width < 700px) {
  :root {
    --font-size-btn: 0.9rem;
    --font-size-body: 0.9rem;
  }
}

@media screen and (width < 500px) {
  :root {
    --font-size-btn: 0.75rem;
    --font-size-body: 0.75rem;
  }
}
